<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.gusmano"
    version="0.0.1">
    <name>Gusmano</name>
    <description>Cordova Gusmano Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,gusmano</keywords>

    <js-module src="www/gusmano.js" name="gusmano">
        <clobbers target="gusmano" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Gusmano" >
                <param name="android-package" value="org.apache.cordova.gusmano.Gusmano"/>
            </feature>
        </config-file>

        <source-file src="src/android/Gusmano.java" target-dir="src/org/apache/cordova/gusmano" />
    </platform>

</plugin>
